# choose st-link/j-link/dap-link etc.

adapter driver cmsis-dap

transport select swd

# 32KB Flash
set FLASH_SIZE 0x7D00

source [find target/stm32f1x.cfg]

# download speed = 20MHz

adapter speed 20000